<html>
  <head>
    <style type="text/css">
      body {
        background: rgb(233, 187, 102);
        color: rgb(3, 3, 80);
      }
      div.container {
        max-width: 1100px;
        margin: 100px auto;
        border: 2px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>I have been visited {{variable}} times</h3>
      <h4>I'm sorry it's in Russian</h4> 
      <img src="{{url_for('static', filename='../egg.jpg')}}" align="middle" />
    </div>
  </body>
</html>
